@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);
@import "asciidoctor.css"; /* Default asciidoc style framework - important */

/*.sidebarblock.examples>.content{
	background-color:#F0F8FF
}*/

.sidebarblock.details>.content{
	border-left:.25rem solid rgba(0, 0, 0, 0.1);
}

.sidebarblock.details > .content{
	padding-left:.5rem
}

.sidebarblock.details{
	border:none;
	background-color:transparent;
	padding-top:0em;
	padding-bottom:0em;
}

.imageblock.text-center>.title {
    text-align: center !important;
}

code {
	padding: .15rem .5rem;
    margin: 0 .2rem;
    font-size: 80%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
}

a > code {
	color:#2156a5;
}

a {
	text-decoration: none;
}

body{
	margin-left:auto;
	margin-right:auto
}

/*.sidebarblock.examples>.content>.title{
	text:'Examples';
} */
